#Latest-Articles h2{
    text-align: center;
    font-size: 30px;
   }
   
   .image-lists{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
   
   }
   
   .contents{
       width: 320px;
       height: 500px;
       margin: 40px 30px;
       display: inline-block;
       cursor: pointer;
       transition: all 0.3s ease 0s;
       position: relative;
   }
   
   .contents:hover{
       box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
       transform: translateY(-0.1875em);
   
   }
   
   .contents p{
       line-height: 3ex;
   }
   
   
   .read{
       position: absolute;
       right: 0;
       bottom: 0;
   
   }
   

   .read-more{
    text-align: right;
}

   .read-line{
       text-align: right;
   }
   
   
   