body{
    width: 1210px;
    height: 100vh;
    margin: 0 auto;
}

.keyvisual{
    height: 100vh;
    width: 1152px;
    padding-top: 10%;
    margin: 0 auto;
}

.imgs{
    position: relative;
    
}

#mainpc{
    display: block;
    margin: 0 auto;
}
#mainsp{
    display: none;
}

.logo-img{
    position: absolute;
    left: 0;
    top: -25%;
}

#vtpc{
    position: absolute;
    right: 0;
    top: 49.5%;
}

#vtsp{
    display: none;
}

.keyvisual p{
    padding-top: 1%;
}

.brsp{
    display: none;
}

@media screen and (max-width: 767px) {
    

    .keyvisual{
        width: 100%;
        text-align: center;
        padding-top: 30%;
    }
    
    #mainpc{
        display: none;
    }

    #mainsp{
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .logo-img{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%,-110%);
    }

    .keyvisual p{
        padding-top: 3%;
        font-size: 30px;
        line-height: 50px;
    }

    .brsp{
        display: block;
       
    }

    #vtpc{
        display: none;
    }

    #vtsp{
        display: block;
        position: absolute;
        top: 5%;
        left: 20%;
    }

    
}